
@using FrameWork
@using KhaneBan.Domain.Core.Entites.UserRequests
@using KhaneBan.Domain.Core.Enums
@model List<Suggestion>

@{
    var winner = Model.Any(s => s.SuggestionStatus == StatusEnum.WorkStarted);
}


<!DOCTYPE html>
<html lang="en">


<head>

    <title>آچاره - پروفایل</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="~/UsersTemplate/css/custom/compare.css">
</head>

<body>

    <div class="sidebar-part">
        <div class="sidebar-body">
            <div class="sidebar-header">
                <a href="index.html" class="sidebar-logo">
                    <img src="images/logo.png"
                    alt="logo">
                </a><button class="sidebar-cross"><i class="fas fa-times"></i></button>
            </div>
            <div class="sidebar-content">
                <div class="sidebar-profile">
                    <a href="#" class="sidebar-avatar">
                        <img src="images/avatar/01.jpg"
                        alt="avatar">
                    </a>
                    <h4><a href="#" class="sidebar-name">جکسون هندرسون</a></h4><a href="ad-post.html"
                    class="btn btn-inline sidebar-btn">
                        <i class="fas fa-plus-circle"></i><span>
                            تبلیغ خود را ارسال
                            کنید
                        </span>
                    </a>
                </div>
                <div class="sidebar-menu">
                    <ul class="nav nav-tabs">
                        <li><a href="#main-menu" class="nav-link active" data-toggle="tab">منوی اصلی </a></li>
                        <li><a href="#author-menu" class="nav-link" data-toggle="tab">منوی نویسنده</a></li>
                    </ul>
                    <div class="tab-pane active" id="main-menu">
                        <ul class="navbar-list">
                            <li class="navbar-item"><a class="navbar-link" href="index.html">صفحه اصلی</a></li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        دسته
                                        بندی
                                    </span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="category-list.html">لیست دسته ها</a></li>
                                    <li><a class="dropdown-link" href="category-details.html">جزئیات دسته</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        لیست
                                        تبلیغات
                                    </span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="grid-list.html">لیست گرید</a></li>
                                    <li><a class="dropdown-link" href="leftbar-list.html">لیست نوار راست</a></li>
                                    <li><a class="dropdown-link" href="rightbar-list.html">لیست نوار چپ</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        جزئیات
                                        تبلیغات
                                    </span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="grid-details.html">جزئیات گرید</a></li>
                                    <li><a class="dropdown-link" href="leftbar-details.html">جزئیات نوار راست</a></li>
                                    <li><a class="dropdown-link" href="rightbar-details.html">جزئیات نوار چپ</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>صفحات</span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="about.html">درباره ما</a></li>
                                    <li><a class="dropdown-link" href="compare.html">مقایسه تبلیغات</a></li>
                                    <li><a class="dropdown-link" href="cities.html">آگهی توسط شهرها</a></li>
                                    <li><a class="dropdown-link" href="price.html">قیمت گذاری</a></li>
                                    <li><a class="dropdown-link" href="user-form.html">فرم کاربر</a></li>
                                    <li><a class="dropdown-link" href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        وبلاگ
                                    </span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="blog-list.html">وبلاگ لیستی </a></li>
                                    <li><a class="dropdown-link" href="blog-details.html">جزئیات وبلاگ</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item"><a class="navbar-link" href="contact.html">تماس با ما</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="author-menu">
                        <ul class="navbar-list">
                            <li class="navbar-item"><a class="navbar-link" href="dashboard.html">داشبورد</a></li>
                            <li class="navbar-item"><a class="navbar-link" href="profile.html">پروفایل</a></li>
                            <li class="navbar-item"><a class="navbar-link" href="ad-post.html">ارسال آگهی </a></li>
                            <li class="navbar-item"><a class="navbar-link" href="my-ads.html">تبلیغات من </a></li>
                            <li class="navbar-item"><a class="navbar-link" href="setting.html">تنظیمات </a></li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link"
                                href="bookmark.html"><span>نشانک </span><span>0</span></a>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        پیام
                                    </span><span>0</span>
                                </a>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link"
                                href="#"><span>اعلانات</span><span>0</span></a>
                            </li>
                            <li class="navbar-item"><a class="navbar-link" href="user-form.html">خروج </a></li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-footer">
                    <p>کلیه حقوق محفوظ است توسط <a href="#"> کلاسیک ادز </a></p>
                    <p>طراحی توسط <a href="https://www.rtl-theme.com/author/tn_plugin">جعفر عباسی خان </a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="btmbar-part">
        <div class="container">
        </div>
    </div>
    <section class="single-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>فهرست مقایسه تبلیغ </h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">صفحه اصلی</a></li>
                            <li class="breadcrumb-item"><a href="leftbar-list.html">لیست نوار راست</a></li>
                            <li class="breadcrumb-item active" aria-current="page">مقایسه </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="compare-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="compare-list">
                        <table class="table-list">
                            <thead>
                                <tr>
                                    <th scope="col">شناسه پیشنهاد</th>
                                    <th scope="col">کارشناس</th>
                                    <th scope="col">قیمت پیشنهادی</th>
                                    <th scope="col">تاریخ پیشنهاد</th>
                                    <th scope="col">تاریخ شروع کار</th>
                                    <th scope="col">وضعیت پیشنهاد</th>
                                    <th scope="col">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var sug in Model)
                                    {
                                        <tr>
                                            <td>@sug.Id</td>
                                            <td>@sug.Expert.User.FirstName @sug.Expert.User.LastName </td>
                                            <td>@sug.Price</td>
                                            <td>@sug.RegisterDate</td>
                                            <td>@sug.StartDate</td>
                                            <td>
                                                @if (sug.SuggestionStatus != null)
                                                {
                                                    <span class="badge
                                                         @(sug.SuggestionStatus == StatusEnum.WatingExpertOffer ? "badge-secondary" :
                                                           sug.SuggestionStatus == StatusEnum.WaitingCustomerToChoose ? "badge-warning" :
                                                           sug.SuggestionStatus == StatusEnum.WorkStarted ? "badge-primary" :
                                                           sug.SuggestionStatus == StatusEnum.WorkDoneByExpert ? "badge-success" :
                                                           sug.SuggestionStatus == StatusEnum.Canceled ? "badge-danger" :
                                                           sug.SuggestionStatus == StatusEnum.WorkPaidByCustomer ? "badge-success" : "badge-light")">
                                                        @sug.SuggestionStatus.GetEnumDisplayName()
                                                    </span>
                                                }
                                            </td>
                                            <td>
                                                <a asp-action="SuggestionsDetail" asp-route-id="@sug.RequestId" class="btn btn-primary">جزئیات پیشنهاد</a>

                                                @if (!winner && sug.SuggestionStatus != StatusEnum.WorkPaidByCustomer &&
                                               sug.SuggestionStatus != StatusEnum.WorkDoneByExpert &&
                                               sug.SuggestionStatus != StatusEnum.Canceled)
                                                {
                                             
                                                    <form asp-action="ConfirmSuggestion" asp-controller="Profile" method="post">
                                                        <input type="hidden" name="id" value="@sug.Id" />
                                                        <button type="submit" class="btn btn-warning"
                                                        onclick="return confirm('آیا از انتخاب این پیشنهاد مطمئن هستید؟')">
                                                            انتخاب پیشنهاد
                                                        </button>
                                                    </form>
                                                }

                                               

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">هیچ پیشنهادی یافت نشد</td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                    <div class="compare-btn center-50">
                        <a href="#" class="btn btn-inline">
                            <i class="fas fa-eye"></i><span>نمایش لیست بیشتر</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>




</body>

</html>





