@using FrameWork
@using KhaneBan.Domain.Core.Entites.UserRequests
@using KhaneBan.Domain.Core.Enums
@model Suggestion

<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <title>جزئیات پیشنهاد</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="~/UsersTemplate/css/custom/compare.css">
</head>
<body>
	<header class="header-part">
		<div class="container">
			<div class="header-content">
				<div class="header-left">
					<ul class="header-widget">
						<li><button type="button" class="header-menu"><i class="fas fa-align-left"></i></button></li>
						<li><a asp-area="Users" asp-controller="Home" asp-action="Index" class="header-logo"><img src="~/UsersTemplate/images/logo.png" alt="logo"></a></li>
						<li>
							<a href="user-form.html" class="header-user">
								<i class="fas fa-user"></i><span>ورود</span>
							</a>
						</li>
						<li><button type="button" class="header-src"><i class="fas fa-search"></i></button></li>
					</ul>
				</div>


			</div>
		</div>
	</header>
	<div class="sidebar-part">
		<div class="sidebar-body">
			<div class="sidebar-header">
				<a asp-area="Users" asp-controller="Home" asp-action="Index" class="sidebar-logo">
					<img src="~/UsersTemplate/images/logo.png"
						 alt="logo">
				</a><button class="sidebar-cross"><i class="fas fa-times"></i></button>
			</div>
			<div class="sidebar-content">

				<div class="sidebar-menu">
					<ul class="nav nav-tabs">
						<li><a href="#main-menu" class="nav-link active" data-toggle="tab">منوی اصلی </a></li>

					</ul>
					<div class="tab-pane active" id="main-menu">
						<ul class="navbar-list">

							<li class="navbar-item navbar-dropdown">
								<a class="navbar-link" href="#">
									<span>صفحات</span><i class="fas fa-plus"></i>
								</a>
								<ul class="dropdown-list">
									<li><a asp-controller="Home" asp-action="Index" class="dropdown-link">صفحه اصلی</a></li>
									@if (User.IsInRole("Expert"))
									{
										<li><a asp-controller="ExpertProfile" asp-action="Index" class="dropdown-link">پروفایل</a></li>
									}
									else
									{
										<li><a asp-controller="Profile" asp-action="Index" class="dropdown-link">پروفایل</a></li>
									}

									<li><a asp-controller="Account" asp-action="Login" class="dropdown-link">ورود</a></li>

									<li><a asp-controller="Account" asp-action="Logout" class="dropdown-link">خروج</a></li>
								</ul>
							</li>

						</ul>
					</div>

				</div>
				<div class="sidebar-footer">
					<p>کلیه حقوق محفوظ است توسط <a href="#"> کلاسیک ادز </a></p>
					<p>طراحی توسط <a href="https://www.rtl-theme.com/author/tn_plugin">جعفر عباسی خان </a></p>
				</div>
			</div>
		</div>
	</div>

    <section class="single-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>جزئیات پیشنهاد</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active" aria-current="page">جزئیات پیشنهاد</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="compare-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="compare-list">
                        <table class="table-list">
                            <thead>
                                <tr>
                                    <th scope="col">شناسه پیشنهاد</th>
                                    <th scope="col">شناسه سفارش</th>
                                    <th scope="col">عنوان سرویس</th>
                                    <th scope="col">توضیحات</th>
                                    <th scope="col">قیمت پیشنهادی</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Id</td>
                                    <td>@Model.RequestId</td>
                                    <td>@Model.Request.HomeService.Title</td>
                                    <td>@Model.Description</td>
                                    <td>@Model.Price</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="compare-btn center-50">
                        <a asp-action="SuggestionList" class="btn btn-inline">
                            <i class="fas fa-arrow-right"></i><span>بازگشت به لیست</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
