@using KhaneBan.Domain.Core.Entites.User
@model List<UserViewModel>


<section class="content contact">
	<div class="body_scroll">
		<div class="block-header">
			<div class="row">
				<div class="col-lg-7 col-md-6 col-sm-12">
					<h2>مخاطبین</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> آئرو</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0);">برنامه</a></li>
						<li class="breadcrumb-item active">کارشناسان</li>
					</ul>
				</div>
				
				<div class="col-lg-5 col-md-6 col-sm-12">
					<a asp-area="Admin" asp-controller="Expert" asp-action="CreateExpert" class="btn btn-success btn-icon float-right">
						<i class="zmdi zmdi-plus"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row clearfix">
				<div class="col-lg-12">
					<div class="card">
						<div class="table-responsive">
							<table class="table table-hover mb-0 c_list c_table">
								<thead>
									<tr>

										<th>شناسه کاربری</th>
										<th>نام</th>
										<th data-breakpoints="xs">تلفن</th>
										<th data-breakpoints="xs sm md">ایمیل</th>
										<th data-breakpoints="xs sm md">آدرس</th>
										<th data-breakpoints="xs sm md">وضعیت</th>
										<th data-breakpoints="xs">اقدام</th>
									</tr>
								</thead>
								<tbody>
									@if (Model != null && Model.Any())
									{
										@foreach (var user in Model)
										{
											<tr>


												<td>
													<span>@user.Id</span>
												</td>

												<td>
													<img src="@(user.PicturePath ?? "~/AdminTemplate/images/xs/avatar1.jpg")" class="avatar w30" alt="">
													<p class="c_name">@($"{user.FirstName} {user.LastName}")</p>
												</td>
												<td>
													<span class="phone"><i class="zmdi zmdi-whatsapp mr-2"></i>@user.PhoneNumber</span>
												</td>
												<td>
													<span class="email"><a href="mailto:@user.Email" title="">@user.Email</a></span>
												</td>
												<td>
													<address><i class="zmdi zmdi-pin"></i>@user.Adress</address>
												</td>
												<td>
													@if (!user.IsDeleted)
													{
														<svg color="green" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
															<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
															<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
														</svg>
													}
													else
													{
														<svg color="red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
															<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
															<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
														</svg>
													}

												</td>


												<td>
													@if (!user.IsDeleted)
													{
														<a class="btn btn-danger" asp-area="Admin" asp-controller="Expert" asp-action="DeleteExpert" asp-route-userId=@user.Id>

															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
																<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
																<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
															</svg>
														</a>
													}
													else
													{
														<a class="btn btn-success" asp-area="Admin" asp-controller="Expert" asp-action="ActiveExpert" asp-route-userId=@user.Id>

															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
																<path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0" />
																<path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
															</svg>
														</a>
													}
													<a class="btn btn-warning" asp-area="Admin" asp-controller="Expert" asp-action="UpdateExpert" asp-route-userId="@user.Id"><i class="zmdi zmdi-edit"></i></a>
												</td>
											</tr>
										}
									}
									else
									{
										<tr>
											<td colspan="6" class="text-center">هیچ کاربری یافت نشد</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
</section>